<div class="container">
  <div class="header-content">
    <div class="top-menu  scroll-reveal">
      <div class="menu">
        <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle="main-nav"></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <nav id="main-nav" data-animate="menu-in menu-out">
          <ul class="main-navigation">
            <li><a class="m-anim" style="color: white;" href="#contact-us" data-text="تماس با ما">تماس با ما </a></li>
            <li><a class="m-anim" style="color: white;" href="#timeline" data-text="تایملاین">تایملاین</a></li>
            <li><a class="m-anim" style="color: white;" href="#about-us" data-text="About">درباره ما</a></li>
            <li><a class="m-anim" style="color: white;" href="#prizes" data-text="جوایز">جوایز</a></li>
            <li><a class="m-anim" style="color: white;" href="#specials-grid" data-text="محتوا">محتوا</a></li><li><a class="m-anim" style="color: white;" href="#intro" data-text="معرفی">معرفی</a></li>
            <li><a class="m-anim" style="color: white;" href="#" data-text="خانه">خانه</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
