{% extends 'accounts/panel/panel.html' %}
{% load static i18n ai_filters tz %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load static %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/style_tables.css' %}">
{% endblock %}


{% block panel_content %}
    <div class="ui blue message" style="width: 100%; display: block; font-size: 2em; font-family: IRANSans; text-align: center">
        {% trans 'Scoreboard' %}
    </div>

    <div class="ui buttons fluid">
        {% for scoreboard in scoreboard_links %}
            {% if scoreboard.name == scoreboard_name %}
            <a class="ui button blue" href="{{ scoreboard.link }}">
            {% else %}
            <a class="ui button" href="{{ scoreboard.link }}">
            {% endif %}
                {{ scoreboard.name }}
            </a>
        {% endfor %}
    </div>
    <table class="ui blue selectable unstackable table">
        <thead>
            <tr>
                {% for header in headers %}
                    {% if header == _('Name') %}
                        <th style="font-family: IRANSans!important;">{{ header }}</th>
                    {% else %}
                        <th style="text-align: center; font-family: IRANSans!important;">{{ header }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>

        {% for team in scoreboard %}
            <tr {% if my_team.team.name == team.team_name %} style="background-color: lightblue" {% endif %}>
                <td style="text-align: center">
                    <div class="ui blue label">{{ forloop.counter|add:page_num }}</div>
                </td>
                <td>
                    <div class="ui button"
                         style="background-color: transparent!important; margin-right: -5%"
                         data-html="{% for member in team.members %}
                         <p style='font-family: IRANSans; margin-top: 0.4em; margin-bottom: 0.4em; text-align: center'>
                         {{ member }}<br/>{% endfor %}"
                         data-position="top center">{{ team.team_name }}</div>
                </td>
                {% for score in team.scores %}
                    <td style="text-align: center">
                        <div>
                            {{ score }}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if scoreboard.has_other_pages %}
        <div class="ui small buttons fluid" style="font-family: IRANSans;">
        {% if scoreboard.has_previous %}
        <a class="button" href="?page={{ scoreboard.previous_page_number }}"><i class="right arrow icon"></i></a>
        {% else %}
        <a class="button disabled"><i class="right arrow icon"></i></a>
        {% endif %}
        {% for i in scoreboard.paginator.page_range %}
        {% if scoreboard.number == i %}
        <a class="button disabled">{{ i }}</a>
        {% else %}
        <a class="button" href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
        {% if scoreboard.has_next %}
        <a class="button" href="?page={{ scoreboard.next_page_number }}"><i class="left arrow icon"></i></a>
        {% else %}
        <a class="disabled button">&raquo;</a>
        {% endif %}
        </div>
    {% endif %}
    <script>
     $('.ui.button')
      .popup({
        on: 'hover'
      });
    </script>

{% endblock %}
