{% extends 'accounts/panel/panel.html' %}
{% load static i18n ai_filters tz %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load static %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/style_tables.css' %}">
{% endblock %}


{% block panel_content %}
    <div class="ui inverted buttons">
        {% for phase in phases %}
            <a class="ui inverted blue button" href="{% url 'accounts:phase_scoreboard' phase.id %}">
                {{ phase.name }}
            </a>
        {% endfor %}
    </div>
    <table class="ui blue selectable unstackable table">
        <thead>
            <tr>
                <th class="collapsing" style="font-family: IRANSans!important;">{% trans 'Rank' %}</th>
                <th style="font-family: IRANSans!important;">{% trans 'Name' %}</th>
                <th style="font-family: IRANSans!important; float: left; margin-left: 20%">{% trans phase.name %}</th>
            </tr>
        </thead>
        <tbody>

        {% for team in scoreboard %}
            <tr {% if my_team.team.name == team.team_name %} style="background-color: lightblue" {% endif %}>
                <td>
                    <div class="ui blue label">{{ forloop.counter }}</div>
                </td>
                <td>
                    <div class="ui button"
                         style="background-color: transparent!important; margin-right: -5%"
                         data-html="{% for member in team.members %}
                         <p style='font-family: IRANSans; margin-top: 0.4em; margin-bottom: 0.4em; text-align: center'>
                         {{ member }}<br/>{% endfor %}"
                         data-position="top center">{{ team.team_name }}</div>
                </td>
                <td style="font-family: IRANSans!important; float: left; margin-left: 35%">
                    {{ team.score }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
     $('.ui.button')
      .popup({
        on: 'hover'
      });
    </script>

{% endblock %}
