{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load ai_filters tz %}

{% for invitation in invitations %}
    <div class="ui info message">
        <i onclick="window.location.href='{% url "accounts:reject_participation" invitation.id %}';"
           class="close icon"></i>
        <div class="header">
            <p>{% trans 'You are invited to the team ' %}"{{ invitation.team }}"{% trans ' on the challenge ' %}"{{ invitation.challenge }}"{% trans ', do you accept?' %}</p>
            <p>{% trans 'Members are:' %}</p>
        </div>
        <ul class="list">
            {% for participant in invitation.team.participants.all %}
                <li>{{ participant.user.username }}: {{ participant.user.first_name }} {{ participant.user.last_name }}</li>
            {% endfor %}
        </ul>
        <br>
        <div class="ui buttons">
            <a href="{% url 'accounts:accept_participation' invitation.id %}"
               class="ui right aligned green button">{% trans 'Accept' %}</a>
            <a href="{% url 'accounts:reject_participation' invitation.id %}"
               class="ui right aligned red button">{% trans 'Reject' %}</a>
        </div>
    </div>
{% endfor %}

{% if payment %}
    <div class="ui info message" style="font-family: IRANSans;">
        <div class="header">
            <p>{% trans 'You have to complete the team information and pay to continue to this challenge.' %}</p>
        </div>
        <br>
            {% if payment.team_pc.info_complete %}
            <p class="ui left aligned green button">
                {{ payment.team_pc.payment_deadline|timeuntil }}
                {% if payment.should_pay_more %}
                <a href="{% url 'billing:send_payment' payment.team_pc.id %}" class="ui right aligned orange button">
                        {% trans 'Pay' %} {{ payment.should_pay_more.amount }} {% trans 'Tomans' %}
                </a>
                {% else %}
                <p class="ui right aligned blue button">
                    {% trans 'Payment completed' %}
                    {% if paid_more %}
                    <p class="ui right aligned red button">
                        {% trans 'You paid more than what your team should pay contact us to return money' %}
                    </p>
                    {% endif %}
                </p>
                {% endif %}
            </p>
            {% else %}
            <p class="ui right aligned yellow button">
                {% trans 'Complete team information' %}
            </p>
            {% endif %}
    </div>
{% endif %}