{% extends 'accounts/panel/panel.html' %}
{% load static i18n ai_filters tz %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<div class="ui one cards">
    <div class="ui link card active">
        <p style="color:red">{{ error }}</p>
    </div>
</div>

<div class="ui one cards">
    <div class="ui link card active">
        <a href="{% url 'accounts:new_trial' phase.id %}">{% trans 'Try' %}</a>
    </div>
</div>
{% block panel_content %}
{#    <a href="{% url 'accounts:new_trial' phase.id %}">ouoi</a>#}
<div
    class="ui two cards "
>
{% for trial in trials %}
    {% if forloop.counter == trials|length %}
{#        TODO add link to trial#}
        <div  class="ui card link active panel_phase">

        {% else %}
        <div class="ui link card panel_phase">
    {% endif %}
      <div class="content">
        <div class="header">
            {% trans 'Trial' %} #{{ forloop.counter }}
        </div>
      </div>
      <div class="content">
        <h4 class="ui sub header">
            {% trans 'Start Time' %}
        </h4>
        {{ trial.start_time }}
        {% if forloop.counter == trials|length %}
{#        TODO add link to trial#}
            <h4 class="ui sub header">
            {% trans 'Time Left' %}
        </h4>
          {{ trial.end_time|timeuntil }}
        {% endif %}

        <h4 class="ui sub header">
            {% trans 'Submit Time' %}
        </h4>
        {% if trial.submit_time == None %}
            {% trans 'No Submit Yet' %}
            {% else %}
            {{ trial.submit_time|timesince }}
        {% endif %}
    <h4 class="ui sub header">
            {% trans 'Score ' %}
        </h4>
        {{ trial.score|floatformat:2 }}
      </div>
    <div class="extra content">
    <a
              href="{% url 'accounts:panel_trial' phase.id trial.id %}"
              class="ui label bottom attached teal center aligned">
          {% trans 'View Trial' %}
      </a>
    </div>

    {% if forloop.counter == trials|length %}
        </div>
        {% else %}
        </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}