{# Aeonem:Zee #}

{% extends 'accounts/panel/panel.html' %}
{% load static i18n ai_filters tz %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block panel_content %}

<div>

</div>

<form enctype="multipart/form-data" action="{% url 'accounts:submit_trial' phase.id trial.id %}" class="form" method="post">
    {% csrf_token %}

    <div class="ui blue message" style="width: 100%; display: block; font-size: 2em; font-family: IRANSans; text-align: center">
	   Trial {{ id }}
    </div>

    {% if file_based_questions %}

        {% if type == 'online_phase_1' %}
            <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
                <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
                    <span style="font-weight:bold">بخش اول</span><br>
        <span style="font-weight:bold">عنوان</span>: پیش‌بینی برچسب<br>
        <span style="font-weight:bold">امتیاز</span>: ۱۰۰۰ امتیاز<br>
        <span style="font-weight:bold">توانایی</span>: تحلیل متن و ایجاد جستار مناسب روی دادگان<br>

        <span style="font-weight:bold">مسئله</span>: پیشبینی برند موبایل<br>
                    <br>
        <span style="font-weight:bold">توصیف</span>: در این بخش شما یک دادگان ۱۰۰۰ ردیفی دانلود میکنید که مربوط به آگهی‌های تلفن همراه است. هدف از این بخش پیشبینی برند تلفن همراه ارائه شده در آگهی است. در انتها شما باید یک فایل به فرمت .txt آپلود کنید که در هر خط آن برند تلفن همراه ردیف متناظر در فایل است.
        <br/>
        <span style="font-weight:bold">ملاحظه مهم</span>: ساختار پاسخ باید دقیقا به شکل اشاره شده باشد. ضمنا هر برند باید به شکل ارائه شده در <a href="/media/brands.txt" target="_blank" download="brands.txt">فایل پیوست</a> به سوال نوشته شود.

                </div>
        {% elif type == 'online_phase_2' %}
                <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
                <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
                    <span style="font-weight:bold">بخش اول</span><br>
                    <span style="font-weight:bold">عنوان: </span>پیش‌بینی دسته‌بندی<br>
                    <span style="font-weight:bold">امتیاز: </span>۳۰۰۰ امتیاز<br>
                    <span style="font-weight:bold">توانایی: </span>یادگیری ماشین و تحلیل متن<br>

                    <span style="font-weight:bold">مسئله: </span>پیشبینی دسته بندی آگهی از روی سایر ویژگی های آن<br>
                    <br>
                    <span style="font-weight:bold">توصیف: </span>در این بخش شما یک دیتاست شامل ۲۰۰ هزار سطر دانلود میکنید که هر سطر حاوی اطلاعات مربوط به یک آگهی است. شما باید دسته بندی سلسله مراتبی هر آگهی را به دست آورید و در قالب یک فایل csv که شامل ۲۰۰ هزار سطر و سه ستون cat1, cat2, cat3 است آپلود کنید.
                    <br/>
                    <span style="font-weight:bold">ملاحظه مهم: </span>ساختار پاسخ باید دقیقا به شکل اشاره شده باشد. ضمنا تمام دسته ها باید به همان شکلی که در دیتاست Train قرار دارد باشد. یک نمونه از پاسخ مطلوب در این فایل <a href="/get_sample_cats" target="_blank" download="phase_2_cats.csv">فایل پیوست</a> شده است.

                </div>
        {% elif type == 'onsite_day_1' %}
                <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
                <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
                    <span style="font-weight:bold">خواسته‌های سوال اول:</span>
                    <br><br>
                    با توجه به <a href="https://irandoc.ac.ir/sites/fa/files/attach/article/punctuation-persian.pdf" target="_blank">این فایل</a>، و <a href="/media/samples.list" target="_blank">فایل راهنما</a>

                    <br><br>

۱-۱) بسیاری از متون اشکالات نگارشی دارند. یک مصداق بسیار واضح از این اشکالات علائم نگارشی هستند. این اشکالات را مطابق این فایل بیابید و متون توضیحات (ستون desc) را تصحیح کنید. در این بخش دادگان تصحیح ‌شده را به فرمت csv. بارگذاری می‌کنید.

                    <br><br>

۱-۲) ارتباط تعداد اشکالات نگارشی در متون را با تمام متغیرهایی که از دادگان در اختیار دارید، بیابید و تحلیل کنید آیا عواملی با تعداد اشکالات نگارشی در متن مرتبط هست یا نه. (برای مثال بررسی کنید آیا تعداد اشکالات با ساعت آگهی ارتباط معنی‌دار دارد یا نه.)

                    <br><br>

۱-۳) می‌خواهیم یک معیار جدید برای کیفیت متن توضیحات (ستون desc) تعریف کنیم. این معیار یک ترکیب خطی از تعداد اشتباهات نوشتاری، میزان استفاده از کلمات کلیدی در متن و هر کیفیت دیگری است که می‌توان به متن توضیحات نسبت داد. برای ارزیابی این معیار بررسی کنید  که با آن به دقت بالایی برای پیش‌بینی فروش (با هر روش دلخواهی) رسید. (توجه کنید فروش برحسب نوع آرشیو شدن است.)

                    <br><br>

۱-۴) تبلیغات را به فضای برداری ببرید! (راهنمایی: یک معیار مناسب برای اینکه چقدر این انتقال مناسب است،‌ تصویر سازی دو بعدی از تبلیغات خواهد بود.)

                    <br><br>

۱-۵) یک خوشه‌بندی مناسب روی آگهی‌ها ارائه دهید و ادعا کنید روش شما برای خوشه بندی روش مناسبی برای داده‌ی در دست است.

                    <br><br>

۱-۶) سه توصیه به آگهی‌گذاران ارائه کنید و با تحلیل‌ روی دادگان نشان دهید چرا این توصیه‌ها مناسب هستند.

                    <br><br>

                </div>
        {% elif type == 'onsite_day_2' %}
                <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
                <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
                    kirekhar
                </div>
        {% endif %}
    {# File Based Questions #}
    <div style="margin:0 0 45px 0 ">
        {% for question in file_based_questions %}
            <div class="field"
                 style="margin:0 0 15px 0"
            >
                <div
                    class="ui top attached header"
                    style="
                        margin:0;
                        height: auto;
                        display: block;
                        word-wrap: break-word;
                        white-space: normal;
                        background-color: #e8e8e8;
                    "
                >
                     {{ question.stmt }}
                </div>
                <div class="ui attached" style="
                        padding:0;
                        display: flex;
                        height: 10rem;
                        border-radius: 0 0 .28571429rem .28571429rem;
                        border:1px solid #d4d4d5;
                        border-top-color: transparent;
                        ">
                    <div style="
                            width: 50%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-left:1px solid #d4d4d5;
                            font-family: IRANSans
                            ">
                        {# TODO href to download file #}
                        <a href="/media/cafe_baazaar_dataset.csv    " target="_blank" class="ui link download-hover " style="color: black">
                           <i class="download icon huge"></i>
                        </a>
                        {% trans 'Download Dataset' %}
                    </div>
                    <div style="
                            width: 50%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-family: IRANSans">
                        <label for="file-in">
                            <a class="upload-hover" id="up-link">
                                <i class="upload icon huge"></i>
                            </a>
                        </label>
                        {% trans 'Upload Answer' %}
                        <input
                               type="file"
                               class="link"
                               style="display: none"
                               name="{{ trial.id  }}_{{ question.id }}"
                               accept="text/csv"
                               required
                               id="file-in"
                        />
                        <p id="file-up"></p>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    </div>
    {% endif %}

    {% if type_part_two %}
        <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
            <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
                    <br>
تابع شما باید به صورت زیر باشد:
                    <br>
                <br>
plot (args, type)
                    <br>
                <br>
که در تعریف فوق args نشان‌دهنده آرگومان‌های تابع و type  نوع تصویرسازی را نشان می‌دهد. به طور کلی چهار مقدار مختلف برای type که تعریف آن‌ها در ادامه داده‌شده مورد نظر است.
                    <br>
                <br>
single: تصویرسازی از هر تک ستون موجود در دادگان به شکل مناسب (برای نوع آگهی تنها ستون cat1 را در نظر بگیرید).
                    <br>
مثال:
                    <br>
توزیع تعداد آگهی‌ها برای ساعات مختلف روز.
                    <br>
درصد آگهی‌های فروش رفته به ازای تمام شهر‌ها.
                    <br>
                <br>
double: تصویرسازی از هر دو ستون موجود در دادگان به شکل مناسب.
                    <br>
مثال:
                    <br>
توزیع یک نوع آگهی خاص در روزهای مختلف هفته.
                    <br>
توزیع نوع آگهی‌های مختلف در یک شهر خاص.
                    <br>
                <br>
outlier: تصویرسازی برای پیدا کردن داده‌های پرت برای هر ستون عددی.
                    <br>
مثال:
                    <br>
قیمت‌های بیش از حد پایین و یا بیش از حد بالا برای یک نوع آگهی خاص.
                    <br>
ساعت‌های گذاشتن آگهی که داده پرت هستند.
                    <br>
                <br>
map: توزیع آگهی‌های مختلف روی نقشه ایران به شکلی که بتوان یک متغیر را محدود کرد و نقشه را تصویر کرد.
                    <br>
مثال:
تعداد آگهی های فروش رفته در شهرهای مختلف.
                    <br>
مد ساعت فعالیت تبلیغ گذاران در شهر های مختلف
                    <br>
تعداد آگهی یک نوع محصول خاص در شهرهای مختلف.
                    <br>
توزیع ساعات آگهی‌ها در شهرهای مختلف.
                    <br>
                <br>
                <br>
توجه کنید که موارد ذکر شده صرفا ایده هایی برای تصویر سازی داده ها است و شما میتوانید بجای آنها از ایده های خود استفاده کنید.
                    <br>
            </div>
        </div>
{% endif %}

    {% if code_zip %}
    <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
        <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
            <span style="font-weight:bold">بخش دوم</span><br>
<span style="font-weight:bold">عنوان: </span>آپلود کد<br>

<br>
<span style="font-weight:bold">توصیف: </span>فایل فشرده‌شده فولدر پروژه خود را با حجم حداکثر ۱۰ مگابایت و فرمت zip آپلود کنید.
<br/>
        </div>
    {# Code Upload #}
    <div style="margin:0 0 45px 0 ">
        {% for question in code_zip %}
            <div class="field"
                 style="margin:0 0 15px 0"
            >
                <div
                    class="ui top attached header"
                    style="
                        margin:0;
                        height: auto;
                        display: block;
                        word-wrap: break-word;
                        white-space: normal;
                        background-color: #e8e8e8;
                    "
                >
                     {{ question.stmt }}
                </div>
                <div class="ui attached center aligned grid" style="
                        padding:0;
                        display: flex;
                        height: 10rem;
                        border-radius: 0 0 .28571429rem .28571429rem;
                        border:1px solid #d4d4d5;
                        border-top-color: transparent;
                        margin: 0!important;
                        ">
                    <div style="
                            width: 50%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-family: IRANSans">
                        <label for="code-in">
                            <a class="upload-hover" id="up-link-2">
                            <i class="upload icon huge"></i>
                                </a>
                        </label>
                        {% trans 'Upload Code' %}
                        <input
                               type="file"
                               class="link"
                               style="display: none"
                               name="code"
                               accept="application/zip"
                               required
                               id="code-in"
                        />
                        <p id="code-up"></p>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    </div>
    {% endif %}

    {% if report %}
    <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
        <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
            {% if type != 'onsite_day_2' %}
            <span style="font-weight:bold">بخش سوم</span><br>
<span style="font-weight:bold">عنوان: </span>آپلود گزارش<br>
<br>
<span style="font-weight:bold">توصیف: </span>یک فایل pdf، html و یا ipynb را که گزارش کد و تحلیل داده‌ شماست
<br/>
            {% else %}
              <span style="font-weight:bold">بخش دوم</span><br>
<span style="font-weight:bold">عنوان: </span>گزارش و کد<br>
            <br>
<span style="font-weight:bold">توصیف: </span>
            یک فایل زیپ حاوی کد و گزارش خود (مانند آنچه در روز قبل بیان شد) آپلود کنید.
<br>
            {% endif %}
        </div>
     {#Report Upload #}
    <div style="margin:0 0 45px 0 ">
        {% for question in report %}
            <div class="field"
                 style="margin:0 0 15px 0"
            >
                <div
                    class="ui top attached header"
                    style="
                        margin:0;
                        height: auto;
                        display: block;
                        word-wrap: break-word;
                        white-space: normal;
                        background-color: #e8e8e8;
                    "
                >
                     {{ question.stmt }}
                </div>
                <div class="ui attached center aligned grid" style="
                        padding:0;
                        display: flex;
                        height: 10rem;
                        border-radius: 0 0 .28571429rem .28571429rem;
                        border:1px solid #d4d4d5;
                        border-top-color: transparent;
                        margin: 0!important;
                        ">
                    <div style="
                            width: 50%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-family: IRANSans">
                        <label for="report-in">
                            <a class="upload-hover" id="up-link-2">
                            <i class="upload icon huge"></i>
                                </a>
                        </label>
                        {% trans 'Upload Report' %}
                        <input
                               type="file"
                               class="link"
                               style="display: none"
                               name="report"
                               accept="application/pdf"
                               required
                               id="report-in"
                        />
                        <p id="report-up"></p>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    </div>
    {% endif %}

    {% if choices %}
    <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
        <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
            <span style="font-weight:bold">بخش دوم</span><br>
<span style="font-weight:bold">عنوان</span>: سوالات چندگزینه‌ای<br>
<span style="font-weight:bold">امتیاز</span>: ۶۰۰ امتیاز<br>
<span style="font-weight:bold">توانایی</span>: تحلیل متن، ایجاد جستار مناسب روی دادگان، تصویرسازی، آزمونهای آماری، رگرسیون<br>

<span style="font-weight:bold">مسئله</span>: انتخاب پاسخ درست از بین چهار گزینه<br>
<span style="font-weight:bold">توصیف</span>: در این بخش شما با سه سوال که به ترتیب آسان (۱۰۰ امتیاز)، متوسط (۲۰۰ امتیاز) و سخت (۳۰۰ امتیاز) هستند روبرو هستید. شما باید با انجام تحلیل مناسب پاسخ سوالات چند گزینه را مشخص نمایید.

        </div>
    {# Multiple Choice Questions #}
    <div style="margin:0 0 45px 0 ">
        {% for question in choices %}
            <div class="field" style="margin:0 0 15px 0">
                <div class="ui top attached header" style="
                        margin:0;
                        height: auto;
                        display: block;
                        word-wrap: break-word;
                        white-space: normal;
                        background-color: #e8e8e8;
                    ">
                    {{ question.stmt }}
                </div>
                    <div>
                  <img class="grouped fields" style="margin-top: 10px">
                      {% for choice in question.choices|shuffle %}
                          <div class="field" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0;">
                              <div class="ui radio checkbox" style="margin-top: 10px">
                                  <input required value="{{ choice.text }}" type="radio" name="{{ trial.id  }}_{{ question.id }}" id="{{ trial.id  }}_{{ question.id }}_{{ choice.id }}">
                                  {% if choice.image and choice.image.url %}
                                    <label for="{{ trial.id  }}_{{ question.id }}_{{ choice.id }}"><img src={{ choice.image.url }}></label>
                                  {% else %}
                                    <label for="{{ trial.id  }}_{{ question.id }}_{{ choice.id }}">{{ choice.text }}</label>
                                  {% endif %}
                              </div>
                          </div>
                      {% endfor %}
                  </div>
            </div>
        {% endfor %}
    </div>
    </div>
    {% endif %}

    {% if numeric_question or interval_questions or text_questions or multiple %}
    <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
     <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%;">
        <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
            {% if type != 'onsite_day_2' %}
            <span style="font-weight:bold">بخش سوم</span><br>
<span style="font-weight:bold">عنوان</span>: سوالات کوتاه پاسخ<br>
<span style="font-weight:bold">امتیاز</span>: متغیر<br>
<span style="font-weight:bold">توانایی</span>: تحلیل متن، ایجاد جستار مناسب روی دادگان، آزمونهای آماری، رگرسیون<br>

<span style="font-weight:bold">مسئله</span>: وارد کردن پاسخ خواسته شده که میتواند به صورت عددی یا متنی باشد<br>
            <br>
<span style="font-weight:bold">توصیف</span>
: در این بخش شما مانند بخش قبل با سه سوال که به ترتیب آسان ( ۵۰ امتیاز)، متوسط (۱۰۰ امتیاز) و سخت (هر بخش ۲۰۰ امتیاز) هستند روبرو هستید. نمره این بخش جمع نمرات به ازای پاسخ‌های درست شما برای سوالات مختلف است.
<br>
<span style="font-weight:bold">ملاحظه مهم</span>
: برای سوالات عددی،‌ پاسخ خود را به صورت عدد (و نه نوشتار) وارد کنید و برای سوالات متنی پاسخ خود را فقط به صورت فارسی یا انگلیسی (و نه فینگلیش) وارد کنید.
            {% else %}
            <span style="font-weight:bold">بخش دوم</span><br>
<span style="font-weight:bold">عنوان: </span>گزارش و کد<br>
            <br>
<span style="font-weight:bold">توصیف</span>
            یک فایل زیپ حاوی کد و گزارش خود (مانند آنچه در روز قبل بیان شد) آپلود کنید.
<br>
            {% endif %}

         {# Numeric Single-Answer Questions #}
    <div style="margin:0 0 45px 0 ">
        {% for question in numeric_questions %}
            <div class="field" style="margin:0 0 15px 0">
                <div class="ui top attached header" style="
                                margin:0;
                                height: auto;
                                display: block;
                                word-wrap: break-word;
                                white-space: normal;
                                background-color: #e8e8e8;
                            ">
                     {{ question.stmt }}
                </div>
                <div class="ui attached input fluid" style="padding:0;">
                    <input
                       required
                       type="number"
                       step="0.00000000001"
                       name="{{ trial.id  }}_{{ question.id }}"
                       style="margin:0;
                                border-radius: 0 0 .28571429rem .28571429rem;
                                border:1px solid #d4d4d5;
                                border-top-color: transparent;
                              "
                       placeholder="{% trans 'No answer yet : Number field' %}"
                    >
                </div>
            </div>
        {% endfor %}
    </div>


         {# Numeric Single-Answer Questions #}
    <div style="margin:0 0 45px 0 ">
        {% for question in interval_questions %}
            <div class="field" style="margin:0 0 15px 0">
                <div class="ui top attached header" style="
                                margin:0;
                                height: auto;
                                display: block;
                                word-wrap: break-word;
                                white-space: normal;
                                background-color: #e8e8e8;
                            ">
                     {{ question.stmt }}
                </div>
                <div class="ui attached input fluid" style="padding:0;">
                    <input
                       required
                       type="number"
                       step="0.00000000001"
                       name="{{ trial.id  }}_{{ question.id }}"
                       style="margin:0;
                                border-radius: 0 0 .28571429rem .28571429rem;
                                border:1px solid #d4d4d5;
                                border-top-color: transparent;
                              "
                       placeholder="{% trans 'No answer yet : Text field' %}"
                    >
                </div>
            </div>
        {% endfor %}
    </div>

    {# Text-Only Short-Answer Questions #}
    <div style="margin: 45px 0">
        {% for question in text_questions %}
            <div class="field"
                 style="margin:0 0 15px 0"
            >
                <div class="ui top attached header"
                            style="
                                margin:0;
                                height: auto;
                                display: block;
                                word-wrap: break-word;
                                white-space: normal;
                                background-color: #e8e8e8;
                            "
                >
                     {{ question.stmt }}
                </div>
                <div class="ui attached input fluid"
                     style="padding:0;"
                >
                    <input
                       required
                       type="text"
                       name="{{ trial.id  }}_{{ question.id }}"
                       style="margin:0;
                                border-radius: 0 0 .28571429rem .28571429rem;
                                border:1px solid #d4d4d5;
                                border-top-color: transparent;
                              "
                       placeholder="{% trans 'No answer yet : Text field' %}"
                    >
                </div>
            </div>
        {% endfor %}
    </div>

    {# Multiple Answer Questions #}
    <div style="margin:0 0 45px 0 ">
        {% for question in multiple %}
            <div class="field" style="margin:0 0 15px 0">
                <div class="ui top attached header" style="
                        margin:0;
                        height: auto;
                        display: block;
                        word-wrap: break-word;
                        white-space: normal;
                        background-color: #e8e8e8;
                    ">
                    {{ question.stmt }}
                </div>
                <div>
                    <div class="ui input fluid" style="padding:0;">
                        <input
                           required
                           type="text"
                           name="{{ trial.id  }}_{{ question.id }}_1"
                           style="margin:0;
                                    border-radius: 0 0 0 0;
                                    border:1px solid #d4d4d5;
                                    border-top-color: transparent;
                                  "
                           placeholder="{% trans 'No answer yet : Text field' %}"
                        >
                    </div>
                    <div class="ui input fluid" style="padding:0;">
                        <input
                           required
                           type="text"
                           name="{{ trial.id  }}_{{ question.id }}_2"
                           style="margin:0;
                                    border-radius: 0 0 0 0;
                                    border:1px solid #d4d4d5;
                                    border-top-color: transparent;
                                  "
                           placeholder="{% trans 'No answer yet : Text field' %}"
                        >
                    </div>
                    <div class="ui input fluid" style="padding:0;">
                        <input
                           required
                           type="text"
                           name="{{ trial.id  }}_{{ question.id }}_3"
                           style="margin:0;
                                    border-radius: 0 0 .28571429rem .28571429rem;
                                    border:1px solid #d4d4d5;
                                    border-top-color: transparent;
                                  "
                           placeholder="{% trans 'No answer yet : Text field' %}"
                        >
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    {# Submit Button#}
    {% endif %}

    {% if errors %}
        <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%;">
            {% for error in errors %}
                <div class="ui error message" style="width: 100%; display: block; font-size: 1em; font-family: IRANSans; text-align: center">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class ="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 5%; margin-top: 1%">
        <div class="fluid ui submit blue button" style="margin: 20px 0" id="button">
            ادامه
        </div>

        <div class="ui blue message" style="display: none;" id="alert">
          <p>شما بعد از ارسال دیگر امکان ویرایش پاسخ یا بازگشت به این صفحه را ندارید بنابراین در ارسال پاسخ دقت کنید.</p>
            <button class="fluid ui submit blue button" style="margin: 20px 0" type="submit" id="submit">
                {% trans 'Submit' %}
            </button>
        </div>
    </div>

    </div>
</form>
<script>
$( ".ui.radio.checkbox" ).checkbox();
$('#button').click(function (e) {
    document.getElementById('alert').style.display = "";
});
document.getElementById('file-in').onchange = function () {
    document.getElementById('file-up').innerText = this.files.item(0).name;
    $('#up-link').css('color','forestgreen')
};
document.getElementById('code-in').onchange = function () {
    document.getElementById('code-up').innerText = this.files.item(0).name;
    $('#up-link-2').css('color','forestgreen')
};
document.getElementById('report-in').onchange = function () {
    document.getElementById('report-up').innerText = this.files.item(0).name;
    $('#up-link-3').css('color','forestgreen')
};
document.getElementById('submit').onclick = function () {
    if(document.getElementById('file-in').files.length == 0 || document.getElementById('code-in').files.length == 0 || document.getElementById('report-in').files.length == 0){
        alert('please select a file');
    }
}
</script>
{% endblock %}