{% extends 'accounts/panel/panel.html' %}
{% load static i18n ai_filters tz %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load static %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/style_tables.css' %}">
{% endblock %}


{% block panel_content %}
    <h2>{% trans 'Scoreboard' %}</h2>
    <table class="ui blue selectable unstackable table">
        <thead>
            <tr>
                <th class="collapsing">{% trans 'Rank' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans phase.name %}</th>
            </tr>
        </thead>
        <tbody>

        {% for competitor in teams %}
            {% if competitor.4 %}
            <tr {% if my_team == competitor.0 %}style="background-color: lightblue" {% endif %}>
                <td>
                    <div class="ui blue label">{{ competitor.2 }}</div>
                </td>
                <td>
                    <div class="ui button" style="background-color: transparent!important; margin-right: -30px!important;" data-html="{{ competitor.3.0.name }}<br/>{{ competitor.3.1.name }}<br/>{{ competitor.3.2.name }}" data-position="top center">{{ competitor.0 }}</div>
                </td>
                <td>{{ competitor.1 }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <script>
     $('.ui.button')
      .popup({
        on: 'hover'
      });
    </script>

{% endblock %}
