{% extends 'accounts/panel/panel.html' %}
{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block panel_content %}
    <h2>{% trans 'Team Status' %}</h2>
    <div>
    {% if accepted_participations|length > 0 %}
        <table class="ui center aligned table" style="font-family: IRANSans">
            <thead>
            <tr>
                <th>{% trans 'Username' %}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user, removable in participation_members %}
                <tr>
                    <td>{{ user }}</td>
                    <td>
                        {% if removable %}

                            <a href="{% url 'accounts:cancel_participation_request' participation.id user.id %}"
                               class="ui right aligned red button tiny">
                                <i class="remove icon"></i>
                                {% trans 'Remove' %}
                            </a>
                        {% else %}
                            <span class="ui right aligned green button tiny">
                                    <i class="checkmark icon"></i>
                                    {% trans 'Accepted' %}
                                </span>
                        {% endif %}
                    </td>

                    {% if show_info %}
                    <td>
                        {% if user.profile.on_site_info_filled == True %}
                            <p class="ui center aligned blue button tiny fluid">
                            <i class="handshake icon big"></i>
                                {% trans 'Has filled their information' %}
                            </p>
                        {% else %}
                            <p class="ui center aligned blue disabled button tiny fluid">
                                <i class="hand pointer icon big"></i>
                                {% trans 'Has NOT filled their information yet' %}
                            </p>
                        {% endif %}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3">
                    {% if participation %}
                        {% if participation.all_members_accepted %}
                            {% trans "All users have accepted the challenge." %}
                        {% else %}
                            {% trans "All users haven't accepted the challenge yet!" %}
                        {% endif %}
                    {% endif %}
                </th>
            </tr>
            </tfoot>
        </table>

    {% else %}
        {% trans 'You have not participated in this challenge yet.' %}
    {% endif %}
    </div>

    {% if complete_profile %}
        <a class="ui center aligned fluid button yellow huge" href="{{ complete_profile.link }}">
            {{ complete_profile.name }}
        </a>
    {% endif %}
{% endblock %}