<!DOCTYPE html>
{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/mail-style.css' %}">
</head>
<body>
    <div class="box">
        <div class="content" dir="rtl" style="font-family: IRANSans">
            <div class="card">
                    <div class="huge">شرکت‌کننده گرامی مسابقه دیتادیز</div>
                </br>
                </br>
            </div>
            <div>متاسفانه مهلت ثبت‌نام برای شرکت در مرحله حضوری به پایان رسید و شما ثبت نام خود را تکمیل نکردید. بنابراین ضمن ابراز تاسف، شما از شرکت در مرحله حضوری بازماندید.</div>
        </br>
        </br>
            <div>در صورت وجود هرگونه پرسش لطفا به آی‌دی تلگرام @datadays_info مراجعه کنید.</div>
        </br>
        </br>
            <div>شرکت در فاز حضوری مستلزم به ثبت‌نام اعضای تیم شما می‌باشد. بدین منظور تقاضا می‌شود لطفا به <a href="https://datadays.ir/accounts/panel/">این لینک</a> مراجعه فرمایید</div>
        </br>
        </br>
            <div>با آرزوی موفقیت</div>
        </br>
        </br>
            <div>روابط عمومی DataDays</div>
        </div>
    </div>
</body>