<!DOCTYPE html>
{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/mail-style.css' %}">
</head>
<body>
    <div class="box">
        <div class="content" dir="rtl" style="font-family: IRANSans">
            <div class="card">
                    <div class="huge">با عرض سلام و احترام خدمت اعضای تیم "{{team_name}}"</div>
                </br>
                </br>
                    {% for member in team_members %}
                        <div>"{{member}}, "</div>
                    {% endfor %}
                </br>
                </br>
                </br>
            </div>
            <div>ضمن تشکر از تیم شما بابت شرکت در اولین دوره‌ی رویداد علوم داده‌ی DataDays، مسرورانه اعلام می‌کنیم که موفق به کسب جواز شرکت در فاز حضوری این رقابت شده‌‌اید.</div>
        </br>
        </br>
            <div>جهت یادآوری، فاز حضوری رویداد در دو روز، به تاریخ ۱۵ و ۱۶ اسفندماه، در دانشگاه صنعتی شریف برگزار خواهد شد. پیش‌بینی می‌شود در این دو روز چهارشنبه و پنج‌شنبه، به طور حدودی از ساعت ۸ صبح الی ۱۹ در خدمت شما باشیم.</div>
        </br>
        </br>
            <div>شرکت در فاز حضوری مستلزم به ثبت‌نام اعضای تیم شما می‌باشد. بدین منظور تقاضا می‌شود لطفا به <a href="https://datadays.ir/accounts/panel/">این لینک</a> مراجعه فرمایید</div>
        </br>
        </br>
            <div> هر فرد در پنل کاربری خود، اطلاعات مورد نیاز را وارد کرده و شرکت در فاز حضوری را تأیید می‌نماید.</div>
        </br>
            <div>درضمن با توجه به اینکه بسته‌ای به هر یک از اعضای تیم شرکت‌کننده تعلق می‌گیرد، مبلغی از تیم شما دریافت می‌شود؛ این مبلغ را یک نفر از تیم شما واریز می‌کند.</div>
        </br>
        </br>
            <div>همانطور که در لینک مشاهده خواهید کرد، زمان‌ محدودی برای ثبت‌نام داریم، لذا از شما تقاضا می‌شود هرچه زودتر ثبت‌نام خود راتا تاریخ {{ deadline }} انجام دهید.</div>
        </br>
        </br>
            <div>در صورتی که تا زمان مشخص شده برای ثبت نام پرداخت خود را تکمیل نکنید، ناچاریم تیم‌های بعدی را جایگزین کنیم.</div>
        </br>
        </br>
            <div>در صورت هرگونه سؤال یا وجود مشکل، به این ایمیل <a href="mailto:aichallenge@sharif.edu">datadays@sharif.edu</a> و یا آی‌دی تلگرام <a href="https://t.me/datadays_info">DataDays_Info@</a> پیام دهید.</div>
        </br>
        </br>
            <div>به امید دیدار شما در مرحله‌ی حضوری و با آرزوی موفقیت،
                روابط عمومی DataDays</div>
        </div>
    </div>
</body>