<!DOCTYPE html>
{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/mail-style.css' %}">
</head>
<body>
    <div class="icon"><img src="{% static 'assets/ddl.png' %}" alt="" width="50%" height="50%"></div>
    <div style="height:10vw; width:100%"> </div>
    <div class="box">
        <div class="content" dir="rtl">
            <span>با عرض سلام و احترام خدمت اعضای تیم "{{team.name}}"</span>
        </br>
        </br>
            <span>ضمن تشکر از تیم شما بابت شرکت در اولین دوره‌ی رویداد علوم داده‌ی DataDays، مسرورانه اعلام می‌کنیم که موفق به کسب جواز شرکت در فاز حضوری این رقابت شده‌‌اید.</span>
        </br>
        </br>
            <span>جهت یادآوری، فاز حضوری رویداد در دو روز، به تاریخ ۱۵ و ۱۶ اسفندماه، در دانشگاه صنعتی شریف برگزار خواهد شد. پیش‌بینی می‌شود در این دو روز چهارشنبه و پنج‌شنبه، به طور حدودی از ساعت ۸ صبح الی ۱۹ در خدمت شما باشیم.</span>
        </br>
        </br>
            <span>شرکت در فاز حضوری مستلزم به ثبت‌نام اعضای تیم شما می‌باشد. بدین منظور تقاضا می‌شود لطفا به <a href="https://datadays.ir/accounts/panel/">این لینک</a> مراجعه فرمایید</span>
        </br>
        </br>
            <span> هر فرد در پنل کاربری خود، اطلاعات مورد نیاز را وارد کرده و شرکت در فاز حضوری را تأیید می‌نماید.</span>
        </br>
            <span>درضمن با توجه به اینکه پکیجی به هر یک از اعضای تیم شرکت‌کننده تعلق می‌گیرد، مبلغی به ازای هر عضو از تیم شما دریافت می‌شود؛ این مبلغ را یک نفر از تیم شما واریز می‌کند.</span>
        </br>
        </br>
            <span>همانطور که در لینک مشاهده خواهید کرد، زمان‌ محدودی برای ثبت‌نام داریم، لذا از شما تقاضا می‌شود هرچه زودتر ثبت‌نام خود را انجام دهید.</span>
        </br>
        </br>
            <span>در صورت هرگونه سؤال یا وجود مشکل، به این ایمیل و یا آی‌دی تلگرام <a href="https://t.me/datadays_info">DataDays_Info@</a> پیام دهید.</span>
        </br>
        </br>
            <span>به امید دیدار شما در مرحله‌ی حضوری و با آرزوی موفقیت،
                روابط عمومی DataDays</span>    
        </div>
    </div>
</body>