{% extends 'accounts/panel/panel.html' %}
{% load static i18n ai_filters tz %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block panel_content %}
    {% for n in notifs %}
        <div class="ui" style="border: 1px solid #E8E8E8; border-radius:.28571429rem .28571429rem 0 0; padding: 2%; margin-bottom: 5%; background-color: #e8e8e8; font-family: IRANSans;">
            {{ n.content }}
        </div>
    {% endfor %}
{% endblock %}