{% extends 'base/base.html' %}

{% block container %}
<h1>سوالات متداول</h1>
<div class="anno">
<h4><i class="ui announcement icon"></i>برای شرکت در مسابقه چه اطلاعات و دانش پیشینی نیاز است؟</h4>
<p>دانش پایه‌ای برنامه‌نویسی برای شرکت در مسابقه کافی است. هم‌چنین محتوای  آموزشی برای آشنایی بیش‌تر شرکت‌کنندگان با مباحث تئوری و عملی علوم داده تدارک دیده شده و مراجعی نیز برای مطالعه معرفی خواهد شد.</p>
</div>

<div class="anno">
<h4><i class="ui announcement icon"></i>آیا شرط خاصی برای شرکت در مسابقه وجود دارد؟</h4>
<p>تنها شرط شرکت در مسابقه این است که دانشجو باشید.</p>
</div>

<div class="anno">
<h4><i class="ui announcement icon"></i>آیا تنها دانشجویان رشته‌های مرتبط با علوم کامپیوتر می‌توانند در این مسابقه شرکت کنند؟</h4>
<p>خیر، تمامی دانشجویان می‌توانند در این مسابقه شرکت کنند و محدودیتی در رشتهٔ آن‌ها وجود ندارد.</p>
</div>

<div class="anno">
<h4><i class="ui announcement icon"></i>تیم‌های مسابقه چند نفره هستند؟ آیا می‌توانم به تنهایی در مسابقه شرکت کنم؟</h4>
<p>سوال‌های هر فاز مسابقه طوری طراحی شده است که هر تیم، برای انجام وظایف‌های هر مرحله به ۳ نفر نیاز دارد. بنابراین تیم‌های شرکت‌کننده باید ۳ نفره باشند.</p>
</div>

<div class="anno">
<h4><i class="ui announcement icon"></i>هزینهٔ شرکت در مسابقه چقدر است؟</h4>
<p>هزینهٔ شرکت در دو فاز اول مسابقه که غیر حضوری هستند، رایگان است. برای مرحلهٔ آخر و حضوری با توجه به امکاناتی که تدارک دیده شده است هزینه‌ای دریافت می‌شود که مقدار آن متعاقبا اعلام می‌شود.</p>
</div>

<div class="anno">
<h4><i class="ui announcement icon"></i>آیا نیاز است که در هر دو مسابقهٔ غیر حضوری شرکت کنیم؟</h4>
<p>در هر دوی این مسابقات، به شرکت‌کنندگان امتیازهایی تعلق می‌گیرد و جمع امتیازهای هر دو مرحله، رتبهٔ نهایی شما برای شرکت در مرحلهٔ حضوری را تعیین می‌کند. اگر شما در یکی از فازهای  غیر حضوری امتیاز کافی را کسب کنید، می‌توانید بدون فاز دیگر به مرحلهٔ نهایی راه پیدا کنید.</p>
</div>

<div class="anno">
<h4><i class="ui announcement icon"></i>من در مسابقه ثبت نام کرده‌ام ولی نمی‌توانم لاگین کنم! چه کنم؟</h4>
<p>ابتدا مطمئن شوید که ایمیل تاییدیهٔ ثبت نام برای شما ارسال شده باشد و شما ایمیل را تایید کرده‌اید. اگر هم‌چنان مشکل وجود داشت با اکانت‌های ارتباطی تلگرام یا ایمیل ما تماس بگیرید.</p>
</div>

<div class="anno">
<h4><i class="ui announcement icon"></i>چگونه تیم خود را تشکیل دهم؟</h4>
<p>پس از آن که همهٔ اعضای تیم ثبت نام کردند، وارد پنل کاربری خود شوید و با انتخاب گزینهٔ «ایجاد تیم» و وارد کردن ایمیل اعضا، تیم خود را تشکیل دهید. پس از این، اعضای تیم باید تشکیل تیم را از طریق پنل‌های کاربری خود تایید کنند.</p>
</div>

<style>
.anno {
	transition: 0.5s ease;
	padding: 2%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	margin: 3%;
	border: 1px solid #03325E;
	border-radius: 10px;
	box-shadow: 0 0 10px #03325E;
}

.anno > h4 > i {
}

.anno > p {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

.anno:hover {
	transform: translate(0, -1em);
	background-color: #03325E;
	color: white;
	
}
</style>
{% endblock %}
