{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block container %}

<div style="min-height: 100vh">

    <div class="ui pointing secondary menu">
	    {% for team in staff_reborn %}
	    	<a class="item" data-tab="{{ team.name }}">{% trans team.name %}</a>
	    {% endfor %}
    </div>

    {% for team in staff_reborn %}
    	<div class="ui tab segment mybackground" data-tab="{{ team.name }}">
		{% for sub_team in team.sub_teams %}
			<hr>
			<h4>{% trans sub_team.name %}</h1>
			{% for member in sub_team.members %}
				<div class="d-sm-inline-block" style="margin: 3%">
					<div class="wrap">
						<img src="media/{{ member.image }}" alt=""/>
						<div class="layer" onclick="">
							<div class="caption">
								<h3 class="text-font">{{ member.name }}</h3>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
    {% endfor %}

</div>

{% endblock %}


{% block footer_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('.menu .item').tab({history: false});
        });
    </script>
{% endblock %}

