{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block container %}

    {#its just a comment#}
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="tech">{% trans 'Technical' %}</a>
        <a class="item" data-tab="exe">{% trans 'Executive' %}</a>
        <a class="item" data-tab="head">{% trans 'Head' %}</a>
        <a class="item" data-tab="sci">{% trans 'Scientific' %}</a>
        <a class="item" data-tab="brand">{% trans 'Branding' %}</a>
    </div>
    <div class="ui tab segment mybackground active" data-tab="tech">
            <div class="staff-pic stackable center aligned ui grid">
                {% for member in staff %}
                    {% if member.team == 'Technical' %}
                        <div class="d-sm-inline-block">
                            <div class="wrap">
                                <img src="media/{{ member.image }}" alt=""/>
                                <div class="layer" onclick="">
                                    <div class="caption">
                                        <h3 class="text-font">{{ member.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>

    <div class="ui tab segment mybackground" data-tab="exe">
            <div class="staff-pic stackable center aligned ui grid">
                {% for member in staff %}
                    {% if member.team == 'Executive' %}
                        <div class="d-sm-inline-block" style="margin: 3%">
                           <div class="wrap">
                                <img src="media/{{ member.image }}" alt=""/>
                                <div class="layer" onclick="">
                                    <div class="caption">
                                        <h3 class="text-font">{{ member.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>

    <div class="ui tab segment mybackground" data-tab="head">
            <div class="staff-pic stackable center aligned ui grid">
                {% for member in staff %}
                    {% if member.team == 'Head' %}
                        <div class="d-sm-inline-block" style="margin: 3%">
                            <div class="wrap">
                                <img src="media/{{ member.image }}" alt=""/>
                                <div class="layer" onclick="">
                                    <div class="caption">
                                        <h3 class="text-font">{{ member.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>

    <div class="ui tab segment mybackground" data-tab="sci">
            <div class="staff-pic stackable center aligned ui grid">
                {% for member in staff %}
                    {% if member.team == 'Scientific' %}
                        <div class="d-sm-inline-block" style="margin: 3%">
                            <div class="wrap">
                                <img src="media/{{ member.image }}" alt=""/>
                                <div class="layer" onclick="">
                                    <div class="caption">
                                        <h3 class="text-font">{{ member.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
    
    <div class="ui tab segment mybackground" data-tab="brand">
            <div class="staff-pic stackable center aligned ui grid">
                {% for member in staff %}
                    {% if member.team == 'Branding' %}
                        <div class="d-sm-inline-block" style="margin: 3%">
                            <div class="wrap">
                                <img src="media/{{ member.image }}" alt=""/>
                                <div class="layer" onclick="">
                                    <div class="caption">
                                        <h3 class="text-font">{{ member.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>

{% endblock %}


{% block footer_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('.menu .item').tab({history: false});
        });
    </script>
{% endblock %}

