<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/fonts/fonts.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Data Days 2019</title>
    <script src="script/jquery-3.3.1.min.js"></script>
    <script src="script/script.js"></script>

</head>
<body>


<div>

    <div class="home-background"></div>
    <div class="home-background-2"></div>

    <div class="circle-right">
        <img src="images/CircleCircle.png" alt="">
    </div>
    <div class="blur-right">
    </div>
    <div class="circle-left">
        <img src="images/CircleCircle.png" alt="">
    </div>
    <div class="blur-left">

    </div>
    <div class="footer-background"></div>



    <div class="time-line-mask">
        <img src="images/time-line.png" alt="">
    </div>
    <div class="navBar">
        <div class="menu">
            <a href='#home' class="menu-item active" >خانه </a>
            <a  href='#info' class="menu-item " >معرفی</a>
            <a  href='#awards' class="menu-item " >جوایز</a>
            <a  href='#timing' class="menu-item " >برنامه </a>
            <a  href='#footer' class="menu-item ">تماس باما</a>
        </div>

        <div class="left-menu">
            <div class="float-left h-100 p-1 mr-2 ">
                <i class="fa fa-bars text-white h-100"></i>
            </div>
            <div class="float-left h-100 p-1 mr-2">
                <i class="fa fa-question text-white h-100"></i>
            </div>

            <div class="float-left h-100 p-1 mr-2">
                <i class="fa fa-globe-americas text-white h-100"></i>
            </div>
            <div class="float-left h-100 p-1 mr-2">
                <i class="fa fa-user text-white h-100"></i>
            </div>

        </div>

    </div>

    <div class="content mx-auto">
        <!--<div id="title" class="col-12 p-0 mt-4 ">-->
        <!--<b-row class="m-0">-->
        <!--<b-col cols="5" class="title   mt-4 p-0">-->
        <!--<b-col cols="6" class="title-sharif ">-->
        <!--SHARIF-->
        <!--</b-col>-->
        <!--<b-col class="data-days p-0" cols="12">-->

        <!--</b-col>-->
        <!--<b-col cols="12" class="title-info p-0">-->
        <!--<b-col cols="6" class="float-left title-name  h-100 ">-->
        <!--<h5 >نخستین مسابقـه</h5>-->
        <!--<h4>عـلــوم داده</h4>-->
        <!--<b-col cols="12">-->
        <!--<span></span>-->
        <!--<span></span>-->
        <!--<span>شریف</span>-->
        <!--<h6>15 و 16 اسفندماه 1397</h6>-->
        <!--<h6>مرحله غیرحضور بهمن 1397</h6>-->
        <!--</b-col>-->
        <!--</b-col>-->
        <!--<b-col cols="6" class="float-left title-date border h-100"></b-col>-->
        <!--</b-col>-->
        <!--</b-col>-->
        <!--<b-col class="p-0 logo-dark   ">-->
        <!--</b-col>-->
        <!--<b-col class="p-0 logo-light   "></b-col>-->
        <!--</b-row>-->

        <!--</div>-->
        <div id="home" class="col-12 home mb-4">
            <div class="home-info">
                <h1>نخستین مسابقه علوم داده</h1>

            </div>
            <div class="timer ">
                <div class="row m-0 h-100 text-center">
                    <div class="col-3 h-100 p-0">
                        <div class="timer-box mx-auto"><span> 18 </span> </div>
                        <span>روز</span>
                    </div>
                    <div class="col-3 h-100 p-0">
                        <div class="timer-box mx-auto"><span> 20 </span> </div>
                        <span>ساعت</span>
                    </div>
                    <div class="col-3 h-100 p-0">
                        <div class="timer-box mx-auto"><span> 55 </span> </div>
                        <span>دقیقه</span>
                    </div>
                    <div  class="col-3 h-100 p-0">
                        <div class="timer-box mx-auto"><span> 21 </span> </div>
                        <span>ثانیه</span>
                    </div>

                </div>
            </div>
        </div>
        <div id="info" class="col-11 mx-auto info p-0">
            <h4 class="text-right m-0"> معرفی </h4>
            <p class="p-4">
                اولین رویداد علوم داده دانشگاه شریف، data days، یک مسابقه چند مرحله‌ای آموزشی است. مهمترین هدف از برگزاری این مسابقه گسترش آموزش و علاقه در این حوزه به همراه محک زدن سطح دانش علوم داده در جامعه علمی ایران است. این رویداد با همکاری جمعی از دانشجویان دانشکده مهندسی کامپیوتر و با پشتیبانی اساتید پیشگام در این حوزه طراحی شده‌است. اگر چه تنها شرط شرکت در مسابقه دانشجو بودن است مسائل این مسابقه به گونه ای است که شرکت کنندگان با هر سطحی از دانش از مبتدی تا متخصص بتوانند آورده‌ای از مسابقات داشته باشند.
            </p>
            <div  class="col-12 p-2 text-center">
                <button class="info-btn border-0"> شرکت در مسابقه </button>
            </div>
        </div>
        <div id="awards"  class="col-11 mx-auto awards mt-3">
            <h4 class="m-0 text-right"> جوایز</h4>
            <div class="col-10 awards-info-1 mx-auto">
                <div  class="col-4 awards-info-two float-right h-75 mt-5 pt-3">
                    <h5 class="text-center p-2 m-0"> تیم دوم </h5>
                    <div class="awards-info-two-img w-100"></div>
                    <h4 class="text-center m-0"> 5میلیون تومان </h4>
                </div>
                <div  class="col-4 awards-info-one float-right h-100">
                    <h5 class="text-center p-3 m-0"> تیم قهرمان </h5>
                    <div class="awards-info-one-img w-100"></div>
                    <h4 class="text-center m-0"> 7میلیون تومان </h4>
                </div>
                <div  class="col-4 awards-info-three float-right h-75 mt-5 pt-3">
                    <h5 class="text-center p-2 m-0"> تیم سوم </h5>
                    <div class="awards-info-three-img w-100"></div>
                    <h4 class="text-center m-0"> 3میلیون تومان </h4>
                </div>
            </div>
            <div class="col-8 awards-info-2 mx-auto mt-5 mb-3">
                <div class="col-6 awards-info-four float-right h-100">
                    <h5 class="text-center p-2 m-0"> دو تیم از بین تیم های 4 تا 10: </h5>
                    <div class="awards-info-four-img w-100"></div>
                    <h4 class="text-center m-0"> 2میلیون تومان </h4>
                </div>
                <div  class="col-6 awards-info-five float-right h-100">
                    <h5 class="text-center p-2 m-0"> دو تیم از بین تیم های 10 تا 20: </h5>
                    <div class="awards-info-five-img w-100"></div>
                    <h4 class="text-center m-0"> 1میلیون تومان </h4>
                </div>

            </div>
        </div>

        <div id="timing" class="col-12 mx-auto timing">
            <h4 class="text-right m-0"> برنامه زمان بندی  </h4>

            <div class="timing-item text-center item-1">
                <h5 class="">25دی ماه</h5>
                <h4 class="">
                    شروع ثبت نام
                </h4>
            </div>
            <div class="timing-item text-center item-2">
                <h5 class=""> 10تا16بهمن ماه</h5>
                <h4 class="">مسابقه اول غیرحضوری</h4>
            </div>
            <div class="timing-item text-center item-3">
                <h5 class="">16بهمن ماه تا2اسفندماه  </h5>
                <h4 class="">مسابقه دوم غیرحضوری</h4>
            </div>
            <div class="timing-item text-center item-4">
                <h5 class="">15و16اسفندماه</h5>
                <h4 class="">مسابقه حضوری </h4>
            </div>

        </div>

        <div id="footer" class="col-12 footer p-0">
            <div class="col-11 float-left footer-info p-0">
                <div class="row m-0 h-100">
                    <h4 class="col-12 p-0 mb-4 text-right pr-4"> تماس باما  </h4>
                    <div  class=" col-6 h-75">
                        <div  class="col-10 map p-0">

                        </div>

                    </div>
                    <div  class="col-6 h-75 p-0">
                        <div  class="col-11 mt-4 p-0 contact ">
                            <div  class="col-2 float-right p-0 h-100"> تلفن ثابت: </div>
                            <div  class="col-9 float-right p-0 h-100">66554433 (021)</div>
                        </div>
                        <div  class=" col-11  p-0  contact">
                            <div  class="col-2 float-right p-0 h-100">ایمیل:</div>
                            <div  class="col-9 float-right p-0 h-100">apply@maktabsharif,ir</div>
                        </div>
                        <div  class=" col-11  p-0 contact  ">
                            <div  class="col-2 float-right p-0 h-100">آدرس:</div>
                            <div  class="col-9 float-right p-0 h-100">تهران، خیابان آزادی،خیایان حبیب اللّه، میدان تیموری</div>
                        </div>
                        <div  class="col-11 contact-logo mt-5 p-0">
                            <div class="sharif-logo h-100 float-right"></div>
                            <div class="ssc-logo h-100 float-right"></div>
                            <div class="software-logo h-100 float-right"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-contact-icon text-center">
                <span class=" icon-twitter mr-2"></span>
                <span class=" icon-instagram mr-2"></span>
                <span class="icon-telegram"></span>
            </div>
            <h6 class="copy-right w-100 text-white text-center"> ©2019    DataDays Challenge.All rights reserved</h6>
        </div>

    </div>
</div>


<script src="script/jquery-3.3.1.min.js"></script>
<script src="script/popper.min.js"></script>
<script src="script/bootstrap.min.js"></script>
</body>



</html>